---
interface FaqItem {
  question: string;
  answer: string;
}

interface Props {
  items: FaqItem[];
}

const { items } = Astro.props;
---

<div class="faq-list">
  {items.map((item) => (
    <details class="faq-item">
      <summary>{item.question}</summary>
      <p>{item.answer}</p>
    </details>
  ))}
</div>
